#cabecera{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: Green,blue;
	/border: solid;/
	margin-top:100px;
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 50px; 
	padding: 20px;
	background-color: #532728;
	box-shadow: #ced0ba 5px 5px 25px ;
	border-radius: 50px;
	
	/*outline: 2px dashed #000; parte del codigo que nos sirve para hacer lineas puntiadas estilo "recortes"
	outline-offset:15px;*/ 
}

#cabecera h1{
color: #f3ddb6;
c
}

#barra{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color:#808000;
box-shadow: #ced0ba 5px 5px 25px ;
background:#795857;
border-radius: 150px;
/border:solid;/
margin-top: 15px;
margin-left: 50px;
margin-right: 50px;
padding: 25px;
margin-bottom: 50px;
}

#cuerpo{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color:#532728;
color: #ced0ba;
box-shadow: #ced0ba 5px 5px 25px ;
background: #532728;
border-radius: 20px;
/border: solid;/
margin-top: 600px;
margin-right: 400px; 
margin-left: 460px;
width: 450px;
}

#lateral{
background-color:#2ECCFA;
box-shadow: #ced0ba 5px 5px 25px ;
background: #532728;
border-radius: 20px;
/border: solid;/
margin-top:-800px;
margin-left:70%;
margin-right:100px;
position: relative;
top: -470px;

}

#lateral2{
background-color:#2ECCFA;
box-shadow: #ced0ba 5px 5px 25px ;
background: #532728;
border-radius: 20px;
/border: solid;/
margin-top: 20px;
margin-left: 70%;
margin-right: 100px;
position: relative;
top: -400px;

}
	
#lateral3{
   
	background-color:#2ECCFA;
	box-shadow: #ced0ba 5px 5px 25px ;
background: #532728;
border-radius: 20px;
/border: solid;/
margin-top: -450px;
margin-left: 150px;
margin-right: 900px;
position: relative;
top: -810px;
}

#lateral4{
   
	background-color:#2ECCFA,white;
	box-shadow: #ced0ba 5px 5px 25px ;
background: #532728;
border-radius: 15px;
/border: solid;/
margin-top: -20px;
margin-left: 150px;
margin-right: 900px;
position: relative;
top: -725px;

}

#pie{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: #ced0ba;
background-color: #2ECCFA;
box-shadow: #ced0ba 5px 5px 25px ;
background: -webkit-linear-gradient(top,#ffffff,#006699);
border-radius:30px;
margin-top: 20px;
margin-left: 200px;
margin-right: 200px;
position: relative;
top: -350px;
}

#pie{
	background-color: #2ECCFA;
	box-shadow: #ced0ba 5px 5px 25px ;
	background: #532728;
	border-radius:30px;
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;
	padding-bottom: 10px;
}




#fondo{
	background-color: #ced0ba;
background-image:url(IMG3.JPG);
	background-image:"IMG3.JPG";
}